

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #353836;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header a {
    text-decoration: none;
}

header {
    padding: 0 20px;
    background-color: #1d1f1d;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

#brand {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
}

#brand a {
    color: #09c372;
}

ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul a {
    color: white;
}

ul li {
    padding: 5px;
    margin-left: 10px;
}

ul li:hover {
    transform: scale(1,1);
    transition: 0.3s;
    /*add some interactivity when user hover over navigation bar it bulges a litte*/
}

#hamburger-icon {
margin: auto 0;
display: none;
cursor: pointer;
    /*center it with margin auto 0 hide it with display 0 */
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* using flex direction column, the list items will stack below each other */
    /* making the items start from the top using justifycontent flag start */
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
}

.mobile-menu li {
    margin-bottom: 10px;
}


@media only screen and (max-width: 600px) {
    header nav {
        display: none;
    }
    /* hide desktop navigation bar when width of user device is less than 600px */
}

#hamburger-icon {
    display: block;
}